@page
@model FoodHunter.Pages.Admin.ProductsCategories.UpdateModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Update</h1>


<partial name="_CreateOrUpdate" model="Model.ProductCategory" />

<div>
    <a asp-page="Index">Back to List</a>
</div>


<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @*     we dont need more dependecy but its cute :) (later delete it and build one for all project )
 *@    <script>
               tinymce.init({
                   selector: 'textarea',
                   plugins: ['anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount'],
                   toolbar: 'floating'
               });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
