@page
@model FoodHunter.Pages.Admin.ProductsCategories.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Product Cateogry</h2>
        </div>
    </div>
    <div class="col-6">
        <a asp-page="Create" class="btn btn-primary">
            Create New
        </a>
    </div>
</div>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                ProductId
            </th>
            <th>
                CateogryId
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductCategory) {
        <tr>

            <td>
               @item.ProductId
                </td>
                <td>
                    @item.CategoryId
                </td>
            <td>
                    <a asp-page="Update" Asp-route-id="@item.Id" class="btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <partial name="_DeleteModal" model="item" />
            </td>
        </tr>
}
    </tbody>
</table>
