@page
@model FoodHunter.Pages.Admin.ProductsType.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Product Name
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductTypes)
        {
            <tr>
                <td width="10%">
                    @item.Id
                </td>
                <td width="70%">
                    @item.Name

                </td>
                <td width="15%">
                    <a asp-page="Update" Asp-route-id="@item.Id" class="btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <partial name="_DeleteModal" model="item" />

                </td>
            </tr>
        }
    </tbody>
</table>
