<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<body>
    <div class="admin-wrapper">
        <h1>Admin Panel Layout</h1>
        @RenderBody()
    </div>
</body>
</html>